<%
  environment_style = GovukAdminTemplate.environment_style
  environment_label = GovukAdminTemplate.environment_label
  app_home_path = content_for?(:app_home_path) ? yield(:app_home_path) : root_path
%>
<!DOCTYPE html>
<!--[if lte IE 7]><html class="no-js lte-ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) : "GOV.UK" %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
    <% # jQuery and Bootstrap %>
    <%= javascript_include_tag "govuk-admin-template" %>
    <% if content_for?(:favicon) %>
      <%= yield :favicon %>
    <% else %>
      <%= favicon_link_tag environment_style ?
        "govuk_admin_template/favicon-#{environment_style}.png" : "govuk_admin_template/favicon.png"
      %>
    <% end %>
    <%= yield :head %>
    <%# CSS resets and fixes for Bootstrap 3 in IE7 %>
    <!--[if lte IE 7]>
      <%= stylesheet_link_tag "govuk_admin_template/bootstrap-ie7" %>
    <![endif]-->
    <%
      # HTML5 and bootstrap shims, for <= IE8 support of HTML5 elements
      # respond.js must come after CSS (from :head) and media queries so
      # that rules and styles can be correctly calculated.
    %>
    <!--[if lte IE 8]>
      <%= javascript_include_tag "lte-ie8" %>
    <![endif]-->
  </head>
  <body<% if environment_style %> class="environment-<%= environment_style %>"<% end %>>
    <%= yield :body_start %>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <header class="
        navbar
        navbar-default
        navbar-inverse
        navbar-static-top
        <% if environment_style %>environment-indicator<% end %>
        add-bottom-margin" role="banner">
        <div class="<%= content_for?(:full_width) ? 'container-fluid' : 'container' %>">
          <div class="navbar-header">
            <% if content_for?(:navbar_right) || content_for?(:navbar_items) %>
              <%# Bootstrap toggle for collapsed navbar content, used at smaller widths %>
              <a class="navbar-toggle" data-toggle="collapse" data-target="header .navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            <% end %>
            <%= link_to content_for?(:app_title) ? yield(:app_title) : "GOV.UK", app_home_path, :class => 'navbar-brand' %>
            <% if environment_label %>
              <div class="environment-label">
                <%= environment_label %>
              </div>
            <% end %>
          </div>
          <% if content_for?(:navbar_right) || content_for?(:navbar_items) %>
            <nav role="navigation" class="collapse navbar-collapse">
              <% if content_for?(:navbar_items) %>
                <ul class="nav navbar-nav">
                  <%= yield :navbar_items %>
                </ul>
              <% end %>
              <% if content_for?(:navbar_right) %>
                <div class="navbar-text pull-right">
                  <%= yield :navbar_right %>
                </div>
              <% end %>
            </nav>
          <% end %>
        </div>
      </header>
    <% end %>
    <section class="<%= content_for?(:full_width) ? 'container-fluid' : 'container' %>">
      <main role="main">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
      <footer class="page-footer">
        <%= yield :footer_top %>
        <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
        <% if content_for?(:footer_version) %>
          <span class="pull-right">Version: <%= yield :footer_version %></span>
        <% end %>
      </footer>
    </section>
    <%= yield :body_end %>
    <% unless content_for?(:exclude_analytics) %>
      <% if Rails.env.production? %>
        <script class="analytics">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-26179049-6', '<%= ENV.fetch('GOVUK_APP_DOMAIN') %>');
          ga('set', 'anonymizeIp', true);
          ga('send', 'pageview');
        </script>
      <% elsif Rails.env.development? %>
        <script>
          if (console) {window.ga = function() {console.log.apply(console, arguments);};}
        </script>
      <% end %>
    <% end %>
  </body>
</html>
