<%
  environment_style = GovukAdminTemplate.environment_style
  environment_label = GovukAdminTemplate.environment_label
  app_home_path = content_for?(:app_home_path) ? yield(:app_home_path) : root_path
  app_title = content_for?(:app_title) ? yield(:app_title) : GovukAdminTemplate::Config.app_title
  has_navbar_content = GovukAdminTemplate::Config.show_signout || content_for?(:navbar_right) || content_for?(:navbar_items)
  disable_google_analytics = GovukAdminTemplate::Config.disable_google_analytics
  allow_google_analytics_stub = (Rails.env.development? || (Rails.env.test? && GovukAdminTemplate::Config.enable_google_analytics_in_tests))
%>

<% content_for :head do %>
  <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
  <% # jQuery and Bootstrap %>
  <%= javascript_include_tag "govuk-admin-template" %>

  <% if content_for?(:favicon) %>
    <%= yield :favicon %>
  <% else %>
    <%= favicon_link_tag environment_style ?
      "govuk_admin_template/favicon-#{environment_style}.png" : "govuk_admin_template/favicon.png"
    %>
  <% end %>
  <%= yield :head %>
<% end %>

<% content_for :content do %>
  <section class="<%= content_for?(:full_width) ? 'container-fluid' : 'container' %>">
    <%= yield :inside_content %>
  </section>
<% end %>

<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <%= link_to app_title, app_home_path, class: 'proposition-name' %>
    </div>
  </div>
  <% if environment_label %>
    <div class="environment-label">
      <%= environment_label %>
    </div>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/backend_layout' %>
