<%
  environment_style = GovukAdminTemplate.environment_style
  environment_label = GovukAdminTemplate.environment_label
%>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:page_title) ? yield(:page_title) : "GOV.UK" %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
    <% # jQuery and Bootstrap %>
    <%= javascript_include_tag "govuk-admin-template" %>
    <% if content_for?(:favicon) %>
      <%= yield :favicon %>
    <% else %>
      <%= favicon_link_tag environment_style ?
        "govuk_admin_template/favicon-#{environment_style}.png" : "govuk_admin_template/favicon.png"
      %>
    <% end %>
    <%= yield :head %>
    <%
      # HTML5 and bootstrap shims, for <= IE8 support of HTML5 elements
      # respond.js must come after CSS (from :head) and media queries so
      # that rules and styles can be correctly calculated.
    %>
    <!--[if lte IE 8]>
      <%= javascript_include_tag "lte-ie8" %>
    <![endif]-->
  </head>
  <body<% if environment_style %> class="environment-<%= environment_style %>"<% end %>>
    <header class="
      navbar
      navbar-default
      navbar-inverse
      navbar-static-top
      <% if environment_style %>environment-indicator<% end %>
      add-bottom-margin" role="banner">
      <div class="container">
        <div class="navbar-header">
          <%# Bootstrap toggle for collapsed navbar content, used at smaller widths %>
          <a class="navbar-toggle" data-toggle="collapse" data-target="header .navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to content_for?(:app_title) ? yield(:app_title) : "GOV.UK", root_path, :class => 'navbar-brand' %>
          <% if environment_label %>
            <div class="environment-label">
              <%= environment_label %>
            </div>
          <% end %>
        </div>
        <nav role="navigation" class="collapse navbar-collapse">
          <% if content_for?(:navbar_items) %>
            <ul class="nav navbar-nav">
              <%= yield :navbar_items %>
            </ul>
          <% end %>
          <% if content_for?(:navbar_right) %>
            <div class="navbar-text pull-right">
              <%= yield :navbar_right %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>
    <section class="container">
      <main role="main">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
      <footer class="page-footer">
        <%= yield :footer_top %>
        <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
        <% if content_for?(:footer_version) %>
          <span class="pull-right">Version: <%= yield :footer_version %></span>
        <% end %>
      </footer>
    </section>
    <%= yield :body_end %>
  </body>
</html>
